* {
    background-color: plum;
}
.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #f3f3f3;
    position: relative;
    margin: 50px auto;
}

.clock-container {
    text-align: center;
}
.name {
   
}

.hour-hand,
.minute-hand,
.second-hand {
    width: 4px;
    background-color: #333;
    position: absolute;
    left: calc(50% - 4px);
    transform-origin: 100% 100%;
}

.hour-hand {
    height: 110px;
    top: calc(50% - 110px);
}

.minute-hand {
    height: 140px;
    top: calc(50% - 140px);
}

.second-hand {
    height: 150px;
    background-color: red;

    top: calc(50% - 150px);
}
