* {
    background-color: plum;
    
}
.clocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color:aquamarine;
    position: relative;
    
    
    
}
#nameInput {
    height: 30px;
}

#timezoneInput  {
    height: 37px;
}

#submit {
    height: 35px;
}

.clock-container {
    text-align: center;
    position: relative;
    margin-left: 50px;
    margin-bottom: 50px;

}
.delButton {
    position: absolute;
    left: calc(80%);
    top: calc(15%);
    
}


.hour-hand,
.minute-hand,
.second-hand {
    width: 4px;
    background-color: #333;
    position: absolute;
    left: calc(50% - 4px);
    transform-origin: 100% 100%;
}

.hour-hand {
    height: 110px;
    top: calc(50% - 110px);
}

.minute-hand {
    height: 140px;
    top: calc(50% - 140px);
}

.second-hand {
    height: 150px;
    background-color: red;

    top: calc(50% - 150px);
}
